---
layout: base
permalink: /index.html
title: 'Freedom For a Price'
description: 'Short film about cash bail.'
blog:
  title: 'Updates'
  intro: "Our progress so far"
---

<div class="wrapper">
  <header class="full | section spot-color-theme-primary">
    <div class="section__inner flow region">
      <h1 class="text-center text-theme-light">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">A short about cash bail</h2>
      <p>
        The current animatic version
      </p>
      
      <p><iframe src="https://player.vimeo.com/video/1205555289?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="Freedom for a Price V1"></iframe></p>
    </div>
  </article>

  <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
